<div class="separator"></div>
<div class="container">
    <div class="ui two column doubling stackable grid">
        <div class="column left">© HDsettings 2020</div>
        <div class="column right"><a style="color:red" href="https://twitter.com/HDsettings" target="_blank">
                <i class="twitter square inverted icon"></i>Tweet at @HDsettings </a>
            <a style="color:red" href="https://www.instagram.com/hdsettings_official/" target="_blank">
                <i class="instagram square inverted icon"></i>Share your builds</a></div>
    </div>
</div>