<div class="ui placeholder">
  <div class="image"></div>
</div>
<div class="container">
  <h1 class="header shadow">Construcciones de la comunidad</h1>
  <div class="ui fluid card" *ngIf="!builds">
    <div class="ui placeholder">
      <div class="image header" *ngFor="let number of [0,1,2,3,4]">
        <div class="line"></div>
        <div class="line"></div>
      </div>
      <div class="paragraph">
        <div class="medium line"></div>
        <div class="short line"></div>
      </div>
    </div>
  </div>
  <div class="ui tabular menu" *ngIf="builds">
    <a class="item active">
      Recientes
    </a>
    <a class="item">
      Más comentados
    </a>
  </div>
  <div class="ui feed">
    <div class="event" *ngFor="let build of builds">
      <div class="label">
        <img [src]="build.insertUser.photoUrl">
      </div>
      <div class="content">
        <div class="summary">
          <a class="user">
            {{build.insertUser.name}}
          </a> añadió la configuración <a [href]="build.url">{{build.name}}</a>
          <div class="date">
            {{formatDate(build.dateInserted)}}
          </div>
        </div>
        <div class="extra images" *ngIf="returnImage(build.body)">
          <a *ngFor="let image of returnImage(build.body) | slice:0:2; let i=index"><img [src]="image" ></a>
        </div>
        <div class="meta">
          <i class="comments outline like icon"></i>
          {{build.countComments}} Comentarios
        </div>
      </div>
    </div>
    </div>

</div>