<div class="ui four cards">
    <a class="card">
      <div class="image">
        <img src="../../assets/images/games/metro_exodus.png">
      </div>
    </a>
    <a class="card">
      <div class="image">
        <img src="../../assets/images/games/Daemonicon.jpg">
      </div>
    </a>
    <a class="card">
      <div class="image">
        <img src="../../assets/images/games/Florence.jpg">
      </div>
    </a>
    <a class="card">
      <div class="image">
        <img src="../../assets/images/games/monsterhunterworld-iceborne.jpg">
      </div>
    </a>
  </div>