<style>
  .zoom {
    transition: transform .2s; /* Animation */
  }
  
  .zoom:hover {
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
</style>

<div class="ui two column stackable grid shadow">
  <div class="fourteen wide column">
    <h1 class="header">Los ordenadores de los streamers</h1>
  </div>
  <div class="two wide column">
    <!-- <div class="right menu">
      <div class="ui inverted compact right menu">
        <div class="ui simple dropdown item">
          Internacionales
          <i class="dropdown icon"></i>
          <div class="menu">
            <div class="item">Españoles</div>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</div>
<div class="container">
  <div class="ui six doubling cards">
    <div class="card" *ngFor="let sbuild of const | slice:0:6; let i=index">
      <div class="image zoom">
        <img src="../../assets/images/sbuilds/{{sbuild.imagen}}">
      </div>
    </div>
  </div>
</div>
